.CreateTodoButton {
    background-color: #9FACE6;
    box-shadow: 0px 5px 25px #74EBD5;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
    min-width: 64px;
  
    transform: rotate(0);
    transition: .3s ease;
  }
  
  .CreateTodoButton:hover {
    cursor: pointer;
    transform: translateY(-3px);
  }